


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body th:style="'background: url(https://timeweb.com/media/default/0001/02/add7708fc1e28989a4aec83edce05c035727f050.jpeg) no-repeat center center fixed;'">

<th:block th:insert="fragments/navBar.html :: navBar" />

<p>
   
</p>


<br />
<br />


<th:block th:insert="fragments/scripts.html :: js" />

</body>
</html>