<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body th:style="'background: url(https://images.wallpaperscraft.ru/image/smajl_smajlik_grustnyj_148083_1920x1080.jpg) no-repeat center center fixed;'" >

<th:block th:insert="fragments/navBar.html :: navBar" />
<div class="row justify-content-center  p-2	">
<p class="text-white">
    <strong>Something went wrong!</strong>
</p>
</div>


<br />
<br />


<th:block th:insert="fragments/scripts.html :: js" />

</body>
</html>