<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body th:style="'background: url(https://images.wallpaperscraft.ru/image/figury_forma_linii_tochki_92772_1920x1080.jpg) no-repeat center center fixed;'">

<th:block th:insert="fragments/navBar.html :: navBar" />



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <p class="row" th:text="#{soldpoductslist.label.youwont}"><strong>You want to buy next products: </strong></p>

    </ul>
</nav>




<div class="container">
    <div class="row">
        <div class="border col-lg-3" ><strong th:text="#{soldpoductslist.label.name}">Name</strong></div>
        <div class="border col-lg-3" ><strong th:text="#{soldpoductslist.label.discription}">Description</strong></div>
        <div class="border col-lg-2" ><strong th:text="#{soldpoductslist.label.qantity}">Qantity</strong></div>
        <div class="border col-lg-2" ><strong th:text="#{soldpoductslist.label.price}">Price</strong></div>
        <div class="border col-lg-2"><strong th:text="#{soldpoductslist.label.delete}">Delete</strong></div>
    </div>

    <div class="row" th:each="orderItem : ${orderItems}">

        <div class="border col-lg-3" th:text="${orderItem.name}"></div>
        <div class="border col-lg-3" th:text="${orderItem.description}"></div>
        <div class="border col-lg-2" th:text="${orderItem.quantity}"></div>
        <div class="border col-lg-2" th:text="${orderItem.price}"></div>



        <div class="border col-lg-2">
            <a class="btn btn-link"
               th:href="@{/sold/{uid}(uid=${orderItem.id})}" th:text="#{soldpoductslist.label.delete}">Delete</a>

        </div>

    </div>

</div>




</a>



<br />
<br />

<ul class="pagination justify-content-center">
<a class="btn btn-primary" th:href="@{/sold/apply}" th:text="#{soldpoductslist.label.perform}">Perform Action</a>
</ul>

</body>
</html>