
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body th:style="'background: url(https://images.wallpaperscraft.ru/image/svet_bliki_krugi_fon_bleklyy_46822_1920x1080.jpg) no-repeat center center fixed;'">

<th:block th:insert="fragments/navBar.html :: navBar" />


<div class="row justify-content-center  p-2	">
    <p>
        <strong>Operation is performed</strong>>
    </p>
</div>


</body>
</html>