<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Image</th>
				<th scope="col">Id</th>
				<th scope="col">Firstname</th>
				<th scope="col">Lastname</th>
				<th scope="col">Login</th>
				<th scope="col">Role</th>
				<th scope="col">Money</th>
				<th scope="col">Image upload</th>
			</tr>
		</thead>

		<tr th:each="user : ${users}">
			<td><img th:src="@{/users/{uid}/img(uid=${user.id})}"
				width="100" height="100" alt=""></td>
			<td th:text="${user.id}" />
			<td th:text="${user.firstName}" />
			<td th:text="${user.lastName}" />
			<td th:text="${user.login}" />
			<td th:text="${user.role}" />
			<td th:text="${user.maney}" />
			<td>
				<form method="POST" enctype="multipart/form-data"
					th:action="@{/users/{uid}/img(uid=${user.id})}">
					<table>
						<tr>
							<td>File to upload:</td>
							<td><input type="file" name="file" /></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Upload" /></td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>
