<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body th:style="'background: url(https://images.wallpaperscraft.ru/image/figury_forma_linii_tochki_92772_1920x1080.jpg) no-repeat center center fixed;'">

<th:block th:insert="fragments/navBar.html :: navBar" />



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <p class="row" th:text="#{soldpoductslist.label.youbuy}"><strong>You bought the following items: </strong></p>

    </ul>
</nav>




<div class="container">
    <div class="row">

        <div class="border col-lg-2" ><strong th:text="#{soldpoductslist.label.id}">Id</strong></div>
        <div class="border col-lg-5" ><strong th:text="#{soldpoductslist.label.name}">Name</strong></div>
        <div class="border col-lg-5" ><strong th:text="#{soldpoductslist.label.price}">Price</strong></div>


    </div>

    <div class="row" th:each="product : ${products}">

        <div class="border col-lg-2" th:text="${product.id}"></div>
        <div class="border col-lg-5" th:text="${product.Name}"></div>
        <div class="border col-lg-5" th:text="${product.price}"></div>

    </div>1

</div>



</a>



<br />
<br />



</body>
</html>